@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&family=Roboto&display=swap');

html {
    scroll-behavior: smooth;
    background-color: beige;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

ul,
ol {
    list-style-type: none;
}

li {
    font-family: 'Roboto', sans-serif;
}

#title {
    text-align: center;
    font-size: 48px;
    color: teal;
}

#home_list_design {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
    min-height: 77.2vh;
}

.list_photo {
    position: relative;
    max-width: 400px;
    overflow: hidden;
    width: 80%; /* Common style outside media queries */
    margin-bottom: 5%; /* Common style outside media queries */
}

.photo_in_list {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 8px solid teal;
    border-radius: 10px;
    transition: transform 0.3s ease, filter 0.3s ease;
    box-sizing: border-box;
    margin: 0 auto; /* Common style outside media queries */
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 56px;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 0.5px transparent;
    transition: color 0.3s ease, box-shadow 0.3s ease;
}

.list_photo:hover .photo_in_list {
    transform: scale(1.1) translateZ(0);
    filter: blur(5px);
}

.list_photo:hover .text-overlay {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-text-stroke: 0.5px black;
}

footer {
    background-color: teal;
    color: white;
    padding: 20px;
    text-align: center;
}

a.github {
    color: orange;
}

a.github:hover {
    color: rgb(255, 123, 0);
}

@media screen and (min-width: 601px) and (max-width: 1300px) {
    #home_list_design {
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }
    
    .text-overlay {
        font-size: 56px; /* Adjusted font size for tablet screens */
    }
}

@media screen and (max-width: 600px) {
    #home_list_design {
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }

    .text-overlay {
        font-size: 48px;
    }
}