@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Quicksand:wght@400;600;700&display=swap');

html {
    scroll-behavior: smooth;
    background-color: beige;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

#Layout {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Quicksand', sans-serif;
}

.Title {
    margin: 2vh ;
    text-align: center;
    font-size: 48px;
    color: teal;
}

#home_list_design {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.list_photo {
    display: flex;
    box-shadow: 0 10px 40px rgb(0, 36, 36);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    max-width: 400px;
    width: 80%;
    box-shadow: 0 0 0 8px teal;
    box-sizing: border-box;
    margin: 24px auto;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.photo_in_list {
    width: 100%;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease;
    margin: 0 auto;
   
}

.list_photo:nth-child(1) {
    animation-delay: 0.5s;
}

.list_photo:nth-child(2) {
    animation-delay: 1s;
}

.list_photo:nth-child(3) {
    animation-delay: 1.5s;
}

.text-overlay {
    font-family: 'Lato', sans-serif;
    position: absolute;
    text-decoration: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 52px;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 2.5px transparent;
    transition: color 0.3s ease, box-shadow 0.3s ease, -webkit-text-stroke 0.3s ease;
}

.list_item_home{
    list-style-type: none;
}

.list_photo:hover .photo_in_list {
    transform: scale(1.25) translateZ(0);
    filter: blur(5px);
}

.list_photo:hover .text-overlay {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-text-stroke: 2.5px black;
}

footer {
    background-color: teal;
    color: white;
    padding: 20px;
    text-align: center;
}

a.github {
    color: orange;
}

a.github:hover {
    color: rgb(255, 123, 0);
}

/* Recipe Pages */

.container {
    display: flex;
    flex-direction: column;
    margin: 40px 160px 40px 160px;
}

.group_one {
    display: flex;
    align-items: center;
    margin: 48px;
}

.recipe_photo {
    max-width: 80%;
    border: 4px solid teal;
    border-radius: 50px;
}

.beta_titles{
    font-size: 40px;
    margin: 0;
    color: teal;
}

.go_back_container {
    text-align: center;
    margin-top: 20px;
}

.go_back{
    text-decoration: none;
    color: teal;
    font-weight: bold;
    padding: 30px;
    transition: color 0.3s ease;
}

.go_back:hover {
    color: rgb(0, 60, 0);
}


@media screen and (min-width: 1300px) and (max-width: 1500px) {
    .recipe_photo {
        max-width: 95%;
    }
}

@media screen and (min-width: 601px) and (max-width: 1300px) {
    #home_list_design {
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }

    .text-overlay {
        font-size: 56px;
    }

    .group_one {
        display:block;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .recipe_photo {
        max-width: 100%;
        margin: 50px 0;
    }
}

@media screen and (max-width: 600px) {
    #home_list_design {
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }

    .text-overlay {
        font-size: 48px;
    }

    .container{
        display: block;
        margin: 20px;
    }

    .group_one {
        display:block;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .recipe_photo {
        max-width: 100%;
        margin: 50px 0;
    }
}